<style>
    .footer {
        margin-top: 30px;
        border-top: 1px solid black;
        display: flex;
        justify-content: right;
    }

    .footerItem {
        font-size: medium;
        width: 150px;
    }

    .footerTitle {
        font-weight: bold;
        margin-right: 950px;
    }

    .footerSubtitle {
        font-weight: bold;
    }

</style>

<div class="footer">
    <p class="linkSection footerTitle">Weight List</p>
    <div>
        <p class="footerItem footerSubtitle">Info</p>
        <p class="footerItem">About Us</p>
        <p class="footerItem">Contact Us</p>
        <p class="footerItem">FAQs</p>
    </div>
    <div>
        <p class="footerItem footerSubtitle">Community</p>
        <p class="footerItem">Buyer's Guide</p>
        <p class="footerItem">Seller's Guide</p>
        <p class="footerItem">Blog</p>
    </div>
</div>